<header>
    <div class="container-index">
        <div id="branding">
          <h1><span class="heighlight">Shinde</span> web design</h1>
        </div>

        <nav>
          <ul>
              <li class="current"><a href="#">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="services.html">Services</a></li>
            </ul>
        </nav>
    </div>
</header>

<section id="showcase">
  <div class="container-index">
    <h1>Affordable Professional WebDesign</h1>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim ven </p>
  </div>
</section>
<section id="newsletter">
    <div class="container-index">
      <h1>Subscribe to our Newsletter</h1>
      <form>
        <input type="email" name="email" id="email-input" placeholder="Enter email..." style="padding: 5px;">
        <button type="submit" class="button_1">Subscibe</button>

      </form>
    </div>
    </section>  

<div class="container-index mt-5">
<h1 >UserManagement</h1>

<a routerLink="read" class="btn btn-primary mx-2">List product</a>

<a routerLink="readcat" class="btn btn-primary mx-2">List category</a>
</div>
<router-outlet></router-outlet>
<footer id="main-footer">
    <p>Shinde Web Design &copy; 2021</p>
</footer>